@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--the-color: 197deg 69.8% 54.5%;
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: var(--the-color);
		--theme-text: 203deg 11% 15%;
		--theme-accent: var(--the-color);
		--theme-accent-2: var(--the-color);
		--theme-quote: var(--the-color);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: var(--the-color);
		--theme-text: 220deg 3% 79%;
		--theme-accent: var(--the-color);
		--theme-accent-2: var(--the-color);
		--theme-quote: var(--the-color);
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}