<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="motion-safe:scroll-smooth scroll-pt-32 [scrollbar-width:thin]">
<head>
  {{ partial "head.html" . }}
</head>
<body class="font-family-mono h-screen grid grid-rows-[auto_1fr_auto] transition-colors duration-500 ease-in-out text-base bg-bg-base text-text-base p-4 lg:p-6 max-w-7xl mx-auto">
    {{ partial "header.html" . }}
    
    <main class="py-6" data-pagefind-body>
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
</body>
</html>
