@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: oklch(0.573 0.097 201.313);
  
  --color-bg-base: light-dark( oklch(0.95 0 0),oklch(0 0 0));
  --color-bg-subtle: light-dark(oklch(1 0 0), oklch(0.2 0 0));
  --color-bg-muted: light-dark(oklch(0.8 0 0),oklch(0.3 0 0));
  
  --color-text-base: light-dark(oklch(0.05 0 0), oklch(0.95 0 0));
  --color-text-muted: light-dark(oklch(0.3 0 0), oklch(0.7 0 0));
  
  --color-border: light-dark(oklch(0.85 0 0), oklch(0.15 0 0));
  --color-border-hover: light-dark(oklch(0.7 0 0), oklch(0.3 0 0));

  --font-family-mono: 'JetBrains Mono', monospace;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}