---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Who is Konstantinos Kasidiaris",
};
---

<PageLayout meta={meta}>
<div class="space-y-6">
  <h1 class="title">About</h1>
  <p>
    Hello there! If "General Kenobi" is what came into your mind, we think alike. This is Kon, a software engineer from Greece!
  </p>
	<p>Here are some facts about me:</p>
  <ul class="list-inside list-disc">
    <li>I listen to tons of music daily. Music is a huge part of my life.</li>
    <li>I play the bass guitar. Many genres. '60s rock, '70s rock, '80s rock, '90s rock, you get the point.</li>
    <li>I am a martial arts enthusiast. I've trained in Judo and BJJ, but I admire almost all of them.</li>
    <li>I can work under pressure. I mean, it is certified by my scuba diving instructor that I can dive up to 18 meters.</li>
    <li>There is a list on my fridge with all the countries that I've visited. The size is over 40 and keeps growing.</li>
  </ul>
  <p>Here are some of my programming milestones:</p>
  <ul class="list-inside list-disc">
    <li>2005 - First running program written in QBasic. Rectangle area calculation</li>
    <li>2012 - First serious program written in FORTRAN 90/95. All about computational chemistry</li>
    <li>2017 - Automated some boring stuff with Python 3. This is how I fell in love with programming</li>
    <li>2018 - First wage by writing code. Java 7 and Groovy 3</li>
    <li>2020 - First encounter with a codebase that I really hated. Made it orders of magnitude better. Node.js 14</li>
    <li>2021 - First encounter with real CI/CD and cloud-native software</li>
  </ul>
  <p>When I was young, I actually hated programming. It was all about bad teachers, to be honest.
		My bachelor's/master's was in Chemical Engineering. The first couple of jobs were not in programming either.
	  I had to automate some boring tasks in a job that made me love programming. I felt an instantaneous click back then.
	</p>
	<p>
		This blog is my way of giving back to the community that has been instrumental in my journey as a software engineer.
		Here, I share thoughts that trouble me, document solutions to problems I've encountered in the past, and engage in the Feynman's
		Technique by explaining peculiar tech to deepen my understanding and hopefully help others grasp these concepts.
	</p>
	<p>
		If you found anything interesting, if you agree or disagree with anything I write, if you just want to say "Hi!", 
		I would be more than happy to <a href="mailto:kkasidiaris@gmail.com" class="underline hover:cursor-pointer">receive an email from you</a>.
	</p>
</div>
</PageLayout>
