{{ $global := .Site.Data.global }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Χορευτικός Όμιλος Τρίπολης",
  "alternateName": "Χ.Ο.Τ.",
  "description": "Διδάσκουμε παραδοσιακούς χορούς στην Τρίπολη και τη γύρω περιοχή, από το 1977.",
  "url": "https://xot.gr",
  "telephone": "{{ (index (where $global.footer.contact "type" "eq" "tel") 0).label }}",
  "email": "{{ (index (where $global.footer.contact "type" "eq" "email") 0).label }}",
  "logo": "https://xot.gr/images/xot.png",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Μεταμορφώσεως 22",
    "addressLocality": "Τρίπολη",
    "addressRegion": "Αρκαδία",
    "postalCode": "22100",
    "addressCountry": "GR"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 37.5081983,
    "longitude": 22.3747039
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "17:00",
      "closes": "23:00"
    }
  ],
  "priceRange": "$",
  "paymentAccepted": "Cash, Credit Card",
  "currenciesAccepted": "EUR",
  "sameAs": [
    {{ range $i, $s := $global.footer.social }}
      {{ if $i }},{{ end }}"{{ $s.url }}"
    {{ end }}
  ]
}
</script>